{% extends "base_generic.html" %}
{% block content %}
{% if book_list %}
    <h2>Всего книг в БД: {{book_list.count}}</h2>
    <ul>
        {% for book in book_list %}
            <li>
                <a href="/books/{{book.id}}">{{book.title}}</a>: {{book.bookinstance_set.all.count}} экземпляров книги
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>В базе данных нет книг</p>
{% endif %}
{% if authors %}
    <h2>Авторы:</h2>
        {% for author in authors %}
            <li>
                {{author.first_name}} {{author.last_name}}
                <ul>
                    {% for author_book in author.book_set.all %}
                    <li>
                        <a href="/books/{{author_book.id}}">{{author_book.title}}</a>
                    </li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
{% else %}
    <p>В базе данных нет авторов</p>
{% endif %}
{% endblock %}